/* Cart sidebar styling */

/* General Styling */
#cart-sidebar {
  position: fixed;           /* Fix the cart on the screen */
  top: 0;                    /* Place it at the top of the viewport */
  right: -26.875rem;             /* Start hidden off-screen */
  width: 26.875rem;              /* Set width */
  height: 100vh;             /* Take full height of the viewport */
  background-color: rgb(250,248,240);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;  /* Smooth transition for sliding effect */
  z-index: 9999;             /* Ensure it's above other elements */
  /*padding: 20px;*/
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  
}

/* Styling for the header of cart which includes text cart and close button */
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 10; /* THis is supposed to keep it over the scrolling content */
  padding: 0 1.25rem;
  height: 3.187rem;
  font-weight: 500;
  border-bottom: solid;
  border-color: grey;
  border-width: .031rem;
}

#cart-close-button {
  font-size: 1.5rem;
  font-weight: normal;
  background-color: rgb(250,248,240);
  border: none;
  color: black;
  cursor: pointer;
}

/* Styling for item listings, scrollable space for item listings*/
.cart-contents {
  flex: 1;
  overflow-y: auto; /*Allow scrolling if there are a lot of listings*/
  overflow-x: hidden;
}

/* Styling for checkout buttons*/
.cart-checkout-buttons {
  bottom: 0;
  z-index: 10; /* THis is supposed to keep it over the scrolling content */
  display: flex;
  flex-direction: column; /* If any additional buttons are added they will be stacked vertically. */
  height: 3.893rem;
}

/* Styling for the checkout button */
#cart-checkout-button {
  width: 100%;
  height: 100%;
  font-size: .894em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(36, 81, 45);
  color: rgb(250,248,240);
  cursor: pointer;
}

/* Applied to open and close the sidebar*/
#cart-sidebar.open {
  right: 0;  
}




/* Code for mobile*/
@media (max-width: 600px) {

  #cart-sidebar {
    width: 100vw;
    right: -100vw;
    overflow-y: auto;
    height: 100dvh; /* dvh accounts for dynamic browser ui elements especially on mobile devices*/
  }

  body.no-scroll {
    overflow-y: auto;
  }


}